<div class="adiminBodyContent signupQuestonPage">
  <!-- Start Page Title Header Starts-->
    <div class="headerTitle">
        <h2>Add Faq Question</h2>    
        <% if(typeof errors !== 'undefined' && typeof errors.message !== 'undefined') { %>
          <p class = "alert alert-danger ml15 mr15 text-center"><%- errors.message %></p>
       <% } %>  
       <% if(typeof errors !== 'undefined' && typeof errors.msg !== 'undefined') { %>
          <p class = "alert alert-success ml15 mr15 text-center"><%- errors.msg %></p>
       <% } %>      
    </div>
      <!-- End Page Title Header Ends-->
      <form class="forms-sample"  action="/faqpost/<%=event_id%>" method="post">
    <div class="midContentRightBar">
        <div class="meddleContentSec">
          <div class="eventInfoBox signupQuestionBlock">
              <div class="infoBoxContent">
                  
                  <div class="pollQuestionRow singupWriteQuestion">
                      <span class="infoTitle">Write Question</span>
                      <div class="pollQuestion">
                          <div class="infoBoxData">
                              <input type="text" class="form-control" name="form[0][question]" value="" id="question" placeholder="Enter Question ?" required>
                              <% if(typeof errors !== 'undefined' && typeof errors.question !== 'undefined') { %>
                                <p class = "error"><%- errors["question"] %></p>
                            <% } %> 
                          </div>
                      </div>
                  </div>
                  <div class="pollQuestionRow singupWriteQuestion">
                    <span class="infoTitle">Write Answer</span>
                    <div class="pollQuestion">
                        <div class="infoBoxData">
                            <input type="text" class="form-control" name="form[0][answer]" value="" id="answer" placeholder="Enter Answer" required>
                            <% if(typeof errors !== 'undefined' && typeof errors.answer !== 'undefined') { %>
                              <p class = "error"><%- errors["answer"] %></p>
                          <% } %> 
                        </div>
                    </div>
                 </div>
                  
              </div>
              <div class="full_div"></div>
              <div class="repeatPollQuestion">
                  <button type="button" class="btn btn-primary repeatPollOpt" data-id="1">
                      <img src="/assets/images/navIcon/addpollQueston.png" />
                  </button>
              </div>
          </div>
          <!-- Submit Button -->
            <div class="adminSubmitBtn">
                <button type="submit" class="btn btn-primary adminPageBtn">Add Faq Questions</button>
            </div>
          <!-- Submit Button -->  
        </div>
    </div>
    </form>
</div>
<script src="/assets/js/jquery-3.5.1.min.js"></script>   
<script>


$(document).ready(function(){
  


    $(document).on("click",'.repeatPollOpt',function() {
      var elmId = $(this).attr("data-id");
      $(".full_div").before('<div class="infoBoxContent"><div class="pollQuestionRow singupWriteQuestion"><span class="infoTitle">Write Question</span><div class="pollQuestion"><div class="infoBoxData"><input type="text" class="form-control" name="form['+elmId+'][question]" value="" id="question" placeholder="Enter Question ?" required></div></div></div><div class="pollQuestionRow singupWriteQuestion"><span class="infoTitle">Write Answer</span><div class="pollQuestion"><div class="infoBoxData"><input type="text" class="form-control" name="form['+elmId+'][answer]" value="" id="answer" placeholder="Enter Answer" required></div></div></div></div>');
      $(this).attr('data-id', parseInt(elmId)+1);
    });

   
   
  });
  </script>